# Project Specific
/out/
/lib/
/doc/
/old/
*.class
*.log
*.csv

# SBT Specific
/project/project/*
/project/plugins/*
/project/target/
/project/boot/
/lib_managed/
/src_managed/
/target/
/dist/
/.lib/
/.cache
/.history

# IDE Specific
.idea/*.iws
/.idea/libraries/
/.idea/scopes/
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/dbnavigator.xml
/.idea/excludeFromValidation.xml
/.idea/play2_compiler_settings.xml

# Vagrant
.vagrant
