# Project specific
out/
docs/
*.class
/lib/*
*.log
*.csv

# SBT specific
project/plugins/project/
project/project/target/
project/target/
project/boot/
lib_managed/
src_managed/
target/
dist/
.lib/
.cache
.history
