# Project Specific
/out/
/lib/
/doc/
*.class
*.log
*.csv

# SBT Specific
/project/plugins/project/
/project/project/target/
/project/target/
/project/boot/
/lib_managed/
/src_managed/
/target/
/dist/
/.lib/
/.cache
/.history

# IDE Specific
.idea/libraries/
.idea/scopes/
.idea/uiDesigner.xml
.idea/dbnavigator.xml
.idea/excludeFromValidation.xml
.idea/play2_compiler_settings.xml

# Vagrant
.vagrant